.composition {

    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
        border-radius: 2px;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.8);
        position: absolute;
        z-index: 10; //set to be below hover
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
            transform: rotate(-5deg);
        }
        &--p2 {
            right: 0;
            top: 2rem;
            transform: rotate(7deg);
        }
        &--p3 {
            left: 10rem;
            top: 10rem;
            transform: rotate(5deg);
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba(0,0,0,.5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    

}
